.Tools-items {
  padding: 16px 0px;
  width: 100%;
  height: 64px;
}

.Tools-button {
  color: #adadad;
  background: none;
  border: none;
  cursor: pointer;
}

.Tools-button path {
  fill: #adadad;
}

.Tools-button:hover {
  background: #474748;
  color: #b3b3b3;
}

.Tools-button:hover path {
  fill: #fff;
}