.Canvas-pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;

  position: fixed;
}

.Canvas-main {
  border: solid 1px #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.64);
  z-index: 2;
}
